* {
    margin: 0;
    padding: 0;    
}
body {
    background-color: #A0A19C;

}
body > .header > h1 {
    text-align: center;
    font-family: 'Lobster', cursive, sans-serif;
    
}
.article {
    position: relative;
    width:90%;
    max-width: 900px;
    min-width: 633px;
    margin: 5px auto 40px auto;
    background-color: #F0F0F0;
    padding: 10px 20px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    box-shadow: 30px 30px 30px 5px #444444;
    
}
#pest {
    width: 857px;
    margin-left: 68px;
    margin-right: 53px;    
}
.pest {
    float: left;    
    width: 100px;
    text-align: center;
    background-color: #444444;
    color: white;
    margin: 0 2px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #444444;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #444444;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #444444;        
}
#texto_pest {
    color: #444444;
    background-color: white;
}
#texto_pest:hover, #fondo_pest:hover, #borde_pest:hover, #caja_pest:hover, #lista_pest:hover {
    color: yellow;
    background-color: #AAAAAA;            
}
.tab {
    display: none;
    margin-left: 15px;
    background-color: white;
    width: 842px;
    box-shadow: 10px 10px 10px 5px #777777;
    margin-bottom: 15px;
    clear:  both; 
}
.tab > h3 {
    text-align: center;
}
#texto {    
    display: block;       
}
#muestra_bordes {
	width:50px;
	height:50px;
	background-color:red;	
}
p.recordatorio {
    color: red;
}
#pegarCodigo, #advertNum {
    display:none;
    position: absolute;
    top: 20px;
    left: 150px;
    width: 600px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;    
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    box-shadow: 30px 30px 30px 5px #444444;    
}
#salida {
    text-align: center;
}

#seleccionar > h2 {
    text-align: center;
}
